.recommendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8);
  width: 80%;
  margin: 2rem auto;
}

.recommendation-box ul {
  list-style-type: disc;
  padding-left: 2rem;
  width: 100%;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recommendation-box li {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
  line-height: 1.5;
}

.recommendation-box li:last-child {
  border-bottom: none;
}
